
/* 轮播图 */
.banner{
    margin-top: 20px;
    width: 1903px;
    height: 600px;
    overflow: hidden;
}
.banner img{
    width: 100%;
    height: 100%;
}
.swiper-container {
    width: 1903px;
    height: 600px;
} 
.next1{
    right: 40px !important;
    left: auto;
}
.prev1,.next1{
    color:#333 !important;
    
}


/* main主体内容 */
#main{
    padding-top: 47px;
    height: 360px;
}
.main_t{
    padding-bottom: 47px;
}
.main_t1 div{
    float: left;
    width: 25%;
}
/* 主题人气推荐 */
.main_box{
    background-color: #f4f4f4;
    height: 1029px;
}
.main_h{
    height: 764px;
    padding-top: 85px;
    padding-bottom: 70px;
}
.main_h h1{
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.1;
    padding-bottom: 47px;
}
.main_h2{
display: flex;
padding-bottom: 50px;
}
.main_h2_l{
    width: 480px;
    height: 692px;
    background-color: #ffffff;
    margin-bottom: 40px;
    float: left;
    border-radius: 6px;
    position: relative;
}
.main_h2_l img{
    width: 480px;
    height: 480px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    margin-top: 60px;
}
.main_h2_b P:nth-child(1){
    width: 438px;
    height: 55px;
    margin: 0 12px 10px;
}
.main_h2_b P:nth-child(1) a{
    color: black;
    font-size: 21px;
}
.main_h2_b P:nth-child(2){
    width: 438px;
    height: 70px;
    margin:0 12px;
    padding-top: 5px; ;
}
.main_h2_b P:nth-child(2) span{
    color: #C20D23;
    font-size: 26px;
    font-weight: bold;
}
.watermark{
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 2px;
    min-width: 68px;
    width: 68px;
    height: 22px;
}
.watermark ul{
    margin-bottom: 20px;
    padding-left: 10px;
}
.watermark .new{
    position: absolute;
    top: 20px;
    left: 0px;
    width: 66px;
    height: 22px;
    background-color: #E73349;
    font-size: 12px;
    font-weight: 600;
    line-height: 22px;
    color: #ffffff;
}
.main_h2_r{
    width: 1020px;
    float: left;
    display: flex;
    flex-wrap: wrap;
}
.main_h2_r div{
   width: 230px;
   height: 320px;
   background-color: #ffffff;
   margin-bottom: 20px;
   margin-left: 10px;
   /* border: 1px solid black; */
   border-radius: 6px;
   padding: 9px;
}
.main_h2_r img{
    width: 240px;
    height: 250px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    margin-top: 0;
}
.main_h2_r .main_h2_r_p {
    height: 42px;
    text-align: left;
    font-size: 16px;
    margin-bottom: 0;
    overflow: hidden;
}
.main_h2_r .main_h2_r_p a{
    color: black;
    font-size: 16px;
}
.main_h2_r p span{
    color: #C20D23;
    font-size: 18px;
    font-weight: bold;
}


.main_h ul {
    height: 29px;
    display: flex;
    justify-content: center;
}
.main_h ul li{
   display: block;
   color: #3e3a39;
   font-size: 21px;
   font-weight: 600;
}
.main_h ul li a{
    display: inline-block;
    padding: 0 30px;
    color: #3e3a39;
    font-size: 21px;
    font-weight: 600;
}


/* 主体C's CLUB  */
.main_box2{
    height: 659px ;
}

.main_box2_t h1{
    width: 400px;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 23px;
    font-weight: 600;
    text-align: center;
    font-size: 40px;
}
.main_box2_b{
    display: flex;

}
.main_box2_b1{
    position: relative;
    width: 415px;
    height: 370px;
    margin: 0 6.25px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background: url(https://oss.casiostore.com.cn/pagesetting/5eb24c4716018.jpg?x-oss-process=image/resize,m_pad,w_415,h_370,limit_0/auto-orient,1/quality,q_90);
}
.main_box2_b1 a{
    display: block;
    width: 415px;
    height: 370px;
}
.title{
    top: 46px;
    width: 397px;
    text-align: center;
    display: block;
    position: absolute;
    font-size: 32px;
    color: #000;
    font-weight: bold;
}
.line{
    display: block;
    position: absolute;
    width: 60px;
    left: 170px;
    top: 100px;
    border-bottom: none;
    border-top: 2px solid #4a3838;
}
.desc{
    top: 112px;
    width: 397px;
    text-align: center;
    display: block;
    position: absolute;
    font-size: 21px;
    color: #949391;
}

.main_box2_b2{
    position: relative;
    width: 415px;
    height: 370px;
    margin: 0 6.25px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background: url(https://oss.casiostore.com.cn/pagesetting/5eb24c4772529.jpg?x-oss-process=image/resize,m_pad,w_415,h_370,limit_0/auto-orient,1/quality,q_90);
}
.main_box2_b2 a{
    display: block;
    width: 415px;
    height: 370px;
}
.main_box2_b3{
    width: 415px;
    height: 370px;
    display: flex;
    flex-wrap: wrap;
}
.main_box_b3_t{
    position: relative;
    width: 413px;
    height: 175px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background: url(https://oss.casiostore.com.cn/pagesetting/5d438b5baa8bc.jpg?x-oss-process=image/resize,m_pad,w_413,h_175,limit_0/auto-orient,1/quality,q_90);
}
.main_box_b3_t a{
    display: block;
    width: 413px;
    height: 175px;
    position: relative;
}
.main_box_b3_t .title{    
    display: block;
    position: absolute;
    top: 30px;
    width: 200px;
    font-size: 27px;
    color: #000;
    font-weight: bold;
}
.main_box_b3_t .line{
    display: block;
    position: absolute;
    width: 50px;
    left: 50px;
    top: 75px;
    border-bottom: none;
    border-top: 1px solid #4a3838;
}
.main_box_b3_t .desc{top: 86px;
    left: 16px;
    width: 200px;
    display: block;
    position: absolute;
    font-size: 17px;
    color: #949391;
}

.main_box_b3_b{
    position: relative;
    width: 413px;
    height: 175px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background: url(https://oss.casiostore.com.cn/pagesetting/5fbb16a583e1a.png?x-oss-process=image/resize,m_pad,w_415,h_175,limit_0/auto-orient,1/quality,q_90);
}
.main_box_b3_b a{
    display: block;
    width: 413px;
    height: 175px;
    position: relative;
}
.main_box_b3_b .title{  
    display: block;
    position: absolute;
    top: 30px;
    left: 16px;
    width: 200px;
    font-size: 27px;
    color: #000;
    font-weight: bold;
}
.main_box_b3_b .line{
    display: block;
    position: absolute;
    width: 50px;
    left: 50px;
    top: 75px;
    border-bottom: none;
    border-top: 1px solid #4a3838;
}
.main_box_b3_b  .desc{top: 86px;
    left: 16px;
    width: 200px;
    display: block;
    position: absolute;
    font-size: 17px;
    color: #949391;
}
/* 精选内容 */
.main_box3{
    background-color: #f4f4f4;
    height: 565px;
}
.main_box3>div:nth-child(1) h1{width: 400px;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 23px;
    font-weight: 600;
    text-align: center;
    font-size: 40px;}
.main_box3_1{
    display: flex;
}
.main_box3_l{
    height: 305px;
    background: white;
    border-radius: 6px;
    padding: 0;
    margin: 0 6.25px;
    width: 415px;
}
.main_box3_m{
    height: 305px;
    background: white;
    border-radius: 6px;
    padding: 0;
    margin: 0 6.25px;
    width: 415px;
}
.main_box3_r{
    height: 305px;
    background: white;
    border-radius: 6px;
    padding: 0;
    margin: 0 6.25px;
    width: 415px;
}
.main_box3 .span1{
    padding-left: 20px;
    display: block;
    font-size: 22px;
    font-weight: 700;
    margin-top: 23px;
    color: #595757;
}
.main_box3 .span2{
    padding-left: 20px;
    display: block;
    font-size: 17px;
    color: #949391;
}
/* 卡西欧头条 */
.main_box4{
    height: 637px;
    padding-bottom: 120px;
}
.main_box4_t{
    display: block;
    height: 57px;
    text-align: center;
    margin: 0 auto;
    padding-top: 85px;
    padding-bottom: 35px;
    position: relative;

}
.main_box4_t .t_a{
   color: #000;
   font-size: 40px;
   font-weight: 600;
}
.main_box4_t .t_b{
    font-size: 15px;
    font-weight: 400;
    margin-top: 30px;
    right: 0;
    position: absolute;
    color: #000052;
}
.main_box4_1{
    display: flex;
}
.main_box4_1 .main_box4_1t{
    height: 460px;
    margin: 0 8px;
}
.main_box4_1 .main_box4_t1{
    width: 380px;
    height: 181px;
    padding:30px 10px 9px 24px;
    background-color: #f3f3f3;
}
.main_box4_1 .main_box4_t1 p:nth-child(1){
    font-size: 12px;
    color: #727171;
}
.main_box4_1 .main_box4_t1 p:nth-child(2){
    display: block;
    font-size: 23px;
    color: black;
    width: 365px;
    height: 48px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: black 1px solid;
    line-height: 48px;
}
.main_box4_1 .main_box4_t1 p:nth-child(3){
    font-size: 15px;
    color: #727171;
    width: 365px;
    height: 55px;
    padding-top: 10px;
}
.main_box4_1 .main_box4_t1 p:nth-child(4) a{
    color: black;
    font-size: 15px;
}
/* 底部 */
.box5{
    background-color: #333;
    height: 33px;
    padding: 20px 0;
}
.box5_t div{
    color: #ffffff;
    float: left;
    width: 20%;
    text-align: center;
    line-height: 30px;
}
.box5_t div a{
    font-size: 16px;
    color: #ffffff;
}
.box5_t div a i{
    font-size: 28px;
    margin-right: 13px;
    line-height: 33px;
}
.box5_t i{
    font-size: 28px;
    margin-right: 13px;
    line-height: 33px;
}
.foot{
    background-color: black;
    height: 485px;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* 帮助中心 */
.foot{
    padding-top:40px ;
    padding-bottom: 20px;
}
.foot_t_l{
    float: left;
    width: 677px;
}
.foot_t_l  .help{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 40px;
    color: #ffffff;
}
.foot_t_l  .help_nr{
    display: flex;
}
.foot_t_l .guide{
    color: #ffffff;
    font-weight: 600;
    width: 25%;
}
.foot_t_l .guide div{
    line-height: 26px;
    font-size: 14px;
}
.foot_t_l .guide  ul {
    padding-bottom: 15px;
}
.foot_t_l .guide  ul  li{
    color: #eeeeee;
}
.foot_t_l .guide  ul  li a
{    
    line-height: 24px;
}
/*  */
.foot_t_m{
height: 225px;
float: left;
margin-bottom: 45px;
border-left: solid 2px #1a1a1a;
border-right: solid 2px #1a1a1a;
width: 407px;

}
.foot_t_m .links{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 40px;
    color: #ffffff;
    margin-left: 75px;
}
.foot_t_m  .foot_t_m1{
    display: flex;
}
.foot_t_m  .foot_t_m1 div:nth-child(1){
    width: 167px;
    height: 106px;
    margin-left: 75px;
}
/*  */
.foot_t_r{
    float: left;
    margin-bottom: 45px;
    height: 225px;
}
.foot_t_r .club{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 40px;
    color: #ffffff;
    margin-left: 40px;
} 
.foot_t_r ul{
    margin-left: 40px;
} 
.hr1{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: solid 2px #1a1a1a;
}
/* 底部 footer 咨询电话 在线客服 二维码 */
.foot_b{
    height: 89px;
}
.foot_b_l{
    width: 370px;
    color: #ffffff;
    display: flex;
   
}
.foot_b_l,.foot_b_ll,.foot_b_l3,.foot_b_l4{
    width: 370px;
    height: 85px;
    border-right: solid 2px  #1a1a1a;
    float: left;
}
.foot_b_l1{
    display: flex;
}
.foot_b_l1 div:nth-child(1){
    display: block;
    width: 64px;
    height: 29px;
    float: left;
    padding-top: 15px;
}
.foot_b_l1 div:nth-child(1) i{
    font-size: 35px;
    font-weight: 500;
}
.foot_b_l1 div:nth-child(2){
    display: block;
    float: right;
    width: 88px;
    height: 58px
}
.foot_b_l1 div:nth-child(2) em{
    font-size: 14px;
}

.foot_b_l2{
    width: 150px;
    height: 58px;
    padding-top: 15px;
}
.foot_b_l2 p{
    display: block;
    width: 150px;
    height: 19px;
    margin-bottom: 10px;
    color: #eee;
}
.foot_b_ll{
    width: 354px;
    color: #ffffff;
}
.foot_b_ll .foot_b_ll_1{
    display: flex;
    justify-content:center;
}
.foot_b_ll_2{
    width: 110px;
    height: 77px;
    padding-top: 14px;
    
}
.foot_b_ll_2 div{
    width: 56px;
    height:15px;
    float: left;
    padding-top: 10px;
    padding-left: 10px;
}
.foot_b_ll_2 i{
    font-size: 35px;
    font-weight: 500;
    float: left;
}
.foot_b_ll_3{
    width: 150px;
    height: 58px;
    padding-top: 10px;
    margin: 5px;
}
.foot_b_ll_3 p{
    display: block;
    width: 150px;
    height: 19px;
    margin-bottom: 10px;
    color: #eee;
}
.foot_b_l3{
    width: 265px;
}
.foot_b_l3_1,.foot_b_l4_1{
    display: flex;
    justify-content: space-around;
}
.foot_b_l3_1 div:nth-child(2){
    width: 98px;
    height: 65px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}
.foot_b_l3_1 div:nth-child(2) p{
    margin-bottom: 10px;
}
.foot_b_l4{
    width: 265px;
    border-right: 0;
}
.foot_b_l4_1 div:nth-child(2){
    width: 98px;
    height: 65px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}
.foot_b_l4_1 div:nth-child(2) p{
    margin-bottom: 10px;
}
/* 版权 */
.copyright{
    color: #ffffff;
    font-size: 14px;
}
.pull_left{
    float: left;
}
.pull_left a:nth-child(1){
    display: inline-block;
    height: 32px;
    line-height: 32px;
}
.pull_left a:nth-child(2){
    margin-left: 10px;  
}
.pull_left a:nth-child(2) img{
    vertical-align: middle;
}
.pull_right{
    float: right;
    height: 32px;
    line-height: 32px;
}