.container{
    width: 1130px;
    margin: 0 auto;
}
.banner{
    width: 1130px;
    height: 117px;
    padding: 0 20px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}
/* 购物车 */
.mian1{
    width: 848px;
    height: 45px;
    display: flex;
}
.mian1 .qx{
    width: 60px;
    height: 18px;
}
.mian1 .quanshan{
    width: 141px;
    height: 45px;
    padding: 0 20px;
    text-align: center;
}
.mian1_top{
    display: flex;
    width: 1130px;
    height: 24px;
    background-color: #fafafb;
    margin-bottom: 10px;
    padding: 10px 0;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    color: #898989;
}
.quanshan:hover,.shanc:hover{
    cursor:pointer;
}
.xuan{
    width: 94px;
    height: 22px;
    margin-left: 10px;
}
.kong{
    width: 64px;
    height: 1px;
    padding: 0 15px;
}
.top_r{
    display: flex;
    
}
.commodity,.miaoshu{
    width: 284px;
    height: 22px;
    padding: 0 15px;
    text-align: center;
}
.price,.number,.money,.operation,.shanchu{
    width: 157px;
    height: 22px;
    text-align: center;
    padding: 0 10px;
}
.mian2{
    width: 1130px;
    padding-bottom: 100px;
}
.lie1{
    display: flex;
    width: 1130px;
    height: 107px;
    padding: 10px 0;
    border-bottom: 1px solid #ededed;
}
.xuan1{
    width: 64px;
    height: 18px;
    margin-left: 5px;
    margin-top: 25px;
    padding:  0 15px;
}
.img1.kong{
    width: 64px;
    height: 66px;
    padding: 0 15px;
}

.miaoshu a{
    display: block;
    width: 284px;
    color: black;
}
.price {
    width: 100px;
    border: 0;
    outline: none;
    color: #898989;
    font-size: 16px;
}
.number{
    display: flex;
    justify-content: center;
}
.number input{
    width: 25px;
    height: 23px;
    border: 1px solid #898989;
    line-height: 22px;
    font-size: 16px;
    text-align: center;
    color: black;
    outline: none;
}
.number input:nth-child(2){
    width: 40px;
    height: 21px;
    border: 0;
    text-align: center;
    border-top: 1px solid #898989;
    border-bottom: 1px solid #898989;
    outline: none;  
}
.money1{
    width: 157px;
    height: 22px;
    text-align: center;
    padding: 0 10px;
    color: #c60c21;
}
.shanchu:hover{
    cursor:pointer;
}
.zonhji{
    width: 1130px;
    height: 56px;

}
h4{
    margin: 20px 0;
    width: 1110px;
    height: 19px;
    float: right;
    text-align: right;
    color: #898989;
    font-size: 14px;
    padding-right: 20px;
}
h4 span{
    color: #c20c22;
    font-size: 18px !important;
}
.jiesuan{
    width: 1130px;
    height: 60px;
    margin: 20px 0;
}
.jsuan{
    padding: 6px 45px;
    background-color: #c60c21;
    color: #ffff;
    border: none;
    right: 16px;
    font-size: 18px;
    font-weight: 500;
    float: right;
    outline: none;
}



               